[ccs-init]

[ccs-scripts]
start-poolmanager = ${paths:ccs}/pus_datapool.py

[ccs-paths]
log-file-dir = ${paths:ccs}/logs
actions = ${paths:ccs}/actions
pixmap = ${paths:ccs}/pixmap

[ccs-editor]
font_size = 10
scrollback_lines = 1000

[ccs-database]
project = ${project:name}
idb_schema = ${database:mib-schema}
commit_interval = 0.05

[ccs-logging]
log-dir = ${paths:base}/logs
level = WARNING
max_logs = 30

[ccs-viewer]
drag_report_fmt = 0

[ccs-monitor]
interval = 1
max_age = 20

[ccs-misc]
pid_offset = 0
editor_host = 
editor_ul_port = 4242
editor_dl_port = 4343
ifsw_path = ../../../IFSW/
ce_exec =
# pec_mode = ignore, warn, discard
pec_mode = warn
viewer_cell_pad = 1

[ccs-pus_connection]
target_ip = 10.0.0.1
tm_port = 60003
tc_port = 60001

[ccs-actions]
action1 = action1.py
action1_img = roman_1.svg
action2 = action2.py
action2_img = roman_2.svg
action3 = action3.py
action3_img = roman_3.svg
action4 = action4.py
action4_img = roman_4.svg
action5 = action5.py
action5_img = roman_5.svg
action6 = action6.py
action6_img = roman_6.svg
action7 = action7.py
action7_img = roman_7.svg
action8 = action8.py
action8_img = roman_8.svg
action9 = action9.py
action9_img = roman_9.svg
action10 = action10.py
action10_img = roman_10.svg

[ccs-plot_parameters]

[ccs-decode_parameters]
randomint = {"format" : "I"}
test = ["format", "uint3"]

[ccs-user_decoders]

[ccs-monitor_parameter_sets]
states = [["('KST05354', 52059, 3, 25, 321, 2, 18, 16)", "('KST05357', 52059, 3, 25, 321, 2, 18, 16)", "('KST05360', 52059, 3, 25, 321, 2, 18, 16)"], [], []]

[ccs-pool_colour_filters]
default = [{"TM/TC" : "TC",  "colour" : "orange"}, {"ST": 3, "SST" : 25, "colour" : "grey20"}, {"APID": 322, "ST" : 195, "colour" : "#004000"}, {"ST" : 1, "SST" : 2, "colour" : "dark red"}, {"ST" : 1, "SST" : 4, "colour" : "dark red"}, {"ST" : 1, "SST" : 8, "colour" : "dark red"}, {"ST" : 13, "colour" : "blue"}, {"ST" : 1, "colour" : "grey50"}, {"APID" : 961,  "colour" : "magenta"}, {"ST" : 5, "SST" : 1, "colour" : "dark blue"}, {"ST" : 5, "SST" : 2, "colour" : "orange red"}, {"ST" : 5, "SST" : 3, "colour" : "red"}, {"ST" : 5, "SST" : 4, "colour" : "red"}, {"ST" : 5, "SST" : 241, "colour" : "sandy brown"}]

[ccs-user_defined_packets]

[ccs-dbus_names]
editor = com.editor.communication
poolviewer = com.poolviewer.communication
poolmanager = com.poolmanager.communication
monitor = com.monitor.communication
plotter = com.plotter.communication

